/* Import */

    /* Variables */
    @import '/home/chahid/Documents/Projets-OC/Projet-3/sass/Design-material/variables.scss';

    /* Main page's scss file */
    @import 'styles.scss';

    /* Buttons */
    @import '/home/chahid/Documents/Projets-OC/Projet-3/sass/Design-material/button-style.scss';


/* Header */

header {
    box-shadow: 0 4px 10px -7px gray;
    position: relative;
    z-index: auto;
}

.menu-background-image {
    width: 100%;
}

/* Dishes cards */

.menu-list__type__dish-price {
    font-weight: 600;
    font-size: 0.9em;
    padding-top: 28px; /* !!!!!!! Element à prioriser !!!!!!!! */
    background-color: brown;
}


/* Button */

.btn-container {
    text-align: center;
}

/* Footer */

footer {
    background-color: #353535;
    color: white;
    .footer__container {
        padding: 20px;
        .footer__content {
        display: flex;
        margin: 0;
        padding: 0;
        height: 20px;
        margin-bottom: 10px;
        i {
            margin-right: 10px;
        }
        p {
            font-weight: 500;
        }
        }
        .footer__logo {
            font-family: 'Shrikhand', cursive;
            margin: 5px 0 25px 0;
            font-size: 1.1em;
        }
    }
}

