/* CSS Reset */

p {
    margin: 0;
    padding: 0;
}


/* Variables */

$primary:#9356DC;
$secondary:#FF79DA;
$third:#99E2D0;
$forth:#7e7e7e;

$fifth:#353535;

body {
    margin: 0;
    font-family: 'Roboto';
    main {
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Header */

header {
    box-shadow: 0 4px 10px -7px gray;
    position: relative;
    z-index: auto;
}

header, .search-bar, .explore-restaurants {
    padding: 10px 0;
    text-align: center;
}


/* Search bar */

.search-bar, #search-bar__content {
    background-color: #eaeaea;
    color: $fifth;
}

.search-bar {
    padding: 15px 0;
}

#search-bar__content {
    border-width: 0;
    font-weight: 500;
    font-size: 0.9em;
    width: 110px;
}

/* Button */

.btn {
    border-radius: 1em;
    box-shadow: 0px 5px 10px -2px #9999;
    margin: 20px 0;
}
.card-restaurant__photo {    
    width: 100%;
    object-fit: cover;
}
.functioning__btn, .card-restaurant__heading {
    display: flex;
}


/* Explore */

.explore-restaurants {
    p {
        font-weight: 300;
    }
    .btn {
        background-image: linear-gradient(0.9turn, #a55cdb, #e771da);
        padding: 15px 20px;
        color: white;
        border-radius: 2em;
        border-width: 0;
        font-weight: 500;
        box-shadow: inset 0px -5px 5px rgba(0,0,0,0.2), 0px 5px 10px -2px #9999;
    }
}

/* Fonctionnement */

.functioning {
    margin : 50px 0;
    .functioning__btn {
        margin-left: 5px;
        justify-content: space-between;
        padding-right: 25%;
        padding-top: 25px;
        padding-bottom: 25px;
        .btn__no {
            border-radius: 50%;
            width: 4%;
            padding: 3px 7px;
            background: #fff;
            background-color: $primary;
            color: white;
            font-weight: 500;
            font-size: 0.9em;
            position: relative;
            left: -10px;
        }
        .fas {
            color : $forth;
        }
        p {
            font-weight: 500;
        }
    }
    .functioning__btn:hover {
        background-color: #f5edff;
        i {
            color: $primary;
        }
    }
}

/* Restaurants */

.card-restaurant {
    .card-restaurant__photo {
        height: 150px;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    .card-restaurant__heading {
        padding: 5px 10px;
        justify-content: space-between;
        * { margin: 5px 0;
        }
        .card-restaurant__subtitle {
            font-weight: 300;
        }
        .card-restaurant__like-container {
            font-size: 1.5em;
            padding-right: 20px;
            padding-top: 5px;
        }
    }
}

/* Footer */

footer {
    background-color: #353535;
    color: white;
    .footer__container {
        padding: 20px;
        .footer__content {
        display: flex;
        margin: 0;
        padding: 0;
        height: 20px;
        margin-bottom: 10px;
        i {
            margin-right: 10px;
        }
        p {
            font-weight: 500;
        }
        }
        .footer__logo {
            font-family: 'Shrikhand', cursive;
            margin: 5px 0 25px 0;
            font-size: 1.1em;
        }
    }
}

