header {
    box-shadow: 0 4px 10px -7px gray;
    position: relative;
    z-index: auto;
    padding: 20px 0 10px 0;
    display: flex;
    justify-content: center;
}

.arrow {
    position: absolute;
    left: 20px;
    
    i {
        vertical-align: -8px;
        font-size: 1.2em;
        color: $fifth;
    }
}