/* Import */
/* Base */
/* CSS Reset */
p {
  margin: 0;
  padding: 0;
}

/* Body and general parameters */
body {
  max-width: 400px;
  margin: auto;
  font-family: "Roboto";
}
body main {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Special font */
.footer__logo, .menu-list__header-title, .loading {
  font-family: "Shrikhand", cursive;
}

/* Utils */
/* Colors */
/* Components */
/* Button basic + hover effect (lighten & shadow) */
.btn {
  border-radius: 1em;
  box-shadow: 0px 5px 10px -2px #9999;
  margin: 20px 0;
  transition: 200ms;
}
.btn:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 10px 2px #9999;
}

.my-btn {
  background: linear-gradient(0.99turn, #a55cdb, #e771da);
  padding: 15px 20px;
  color: white;
  border-radius: 2em;
  border-width: 0;
  font-weight: 500;
  box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.2), 0px 5px 10px -2px #9999;
  min-width: 180px;
  font-size: 1em;
}

/* Button's heading */
.heading {
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
}
.heading * {
  margin: 5px 0;
}

.heading .subtitle {
  font-weight: 300;
  font-size: 0.9em;
}

.heading .aside {
  padding-right: 20px;
  padding-top: 5px;
}

.card-restaurant__liked {
  position: relative;
  z-index: 0;
  background: linear-gradient(0.99turn, #a55cdb, #e771da);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(0);
}

.card-restaurant__like {
  -webkit-text-stroke: 1.5px black;
  color: white;
  position: absolute;
  -webkit-text-fill-color: transparent;
  z-index: 1;
}
.card-restaurant__like:hover {
  opacity: 0;
  transition: 700ms;
}
.card-restaurant__like:hover + .card-restaurant__liked {
  z-index: 0;
  transition: transform ease-in-out 300ms;
  transform: scale(1.1);
}

@keyframes menu-scroll {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
/* Spinner */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    opacity: 1;
    scale: 0.7;
  }
  50% {
    scale: 1.1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
    scale: 1;
  }
}
/* Opacity background for spinner */
@keyframes spinner-layer {
  0%, 100% {
    opacity: 0.6;
  }
}
/* Pages */
/* Explore section (title, paragraph and button) */
.explore-restaurants {
  padding: 10px 0;
  text-align: center;
}
.explore-restaurants p {
  font-weight: 300;
}

/* Fonctionnement section (title + buttons)*/
.functioning {
  margin: 50px 0;
}
.functioning .functioning__btn {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
  padding-right: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
}
.functioning .functioning__btn .btn__no {
  border-radius: 50%;
  width: 4%;
  padding: 3px 7px;
  background: #fff;
  background-color: #9356DC;
  color: white;
  font-weight: 500;
  font-size: 0.9em;
  position: relative;
  left: -10px;
}
.functioning .functioning__btn .fas {
  color: #7e7e7e;
}
.functioning .functioning__btn p {
  font-weight: 500;
}
.functioning .functioning__btn:hover {
  background-color: #f5edff;
}
.functioning .functioning__btn:hover i {
  color: #9356DC;
}

/* Main page */
.list {
  margin: 70px 0;
}
.list .card-restaurant__photo {
  width: 100%;
  object-fit: cover;
  height: 150px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: -28px;
}

.card-restaurant__like-container {
  font-size: 1.5em;
}

/* Sticker nouveau */
.card-sticker {
  width: 25%;
  background-color: #99e2d0;
  position: relative;
  right: -70%;
  bottom: -15px;
  color: #008766;
  font-weight: 600;
  text-align: center;
  font-size: 0.9em;
  padding: 5px;
  border-radius: 0.13em;
}

.disable {
  z-index: -1;
}

/* Spinner animation */
.loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
  left: 37%;
  top: 50%;
  width: 100%;
  height: 100%;
  width: 70px;
  height: 70px;
  background: linear-gradient(0.99turn, #a55cdb, #e771da);
  border-radius: 50%;
  opacity: 0;
  animation: spinner ease-out 2000ms;
}

.main-body header, .main-body main, .main-body footer {
  animation: spinner-layer 2000ms;
}

.search-bar, #search-bar__content {
  background-color: #eaeaea;
  color: #353535;
}

.search-bar {
  margin: 0 -20px;
  padding: 15px 0;
  padding: 10px 0;
  text-align: center;
}

#search-bar__content {
  border-width: 0;
  font-weight: 500;
  font-size: 0.9em;
  width: 110px;
}

/* Dishes cards */
.menu-list__type__dish, .menu-list__type__dish-subtitle, .menu-list__type__dish-title, .menu-list__type__dish-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.heading .menu-list__type__dish-price {
  font-weight: 600;
  font-size: 0.9em;
  padding-top: 25px;
}

.check-container {
  display: flex;
  margin: -5px -20px -5px 0;
  position: relative;
  right: -60px;
}

.check {
  width: 70px;
  height: 100%;
  background: #99e2d0;
  color: white;
  padding: 0;
  margin: 0;
}

/* Check animation */
.menu-list__type__dish .check-container {
  transition: ease-in-out 600ms;
  transform: translate(0px);
}
.menu-list__type__dish .check-container i {
  font-size: 1.5em;
  transition: linear 500ms;
  text-align: justify;
  position: relative;
  bottom: -20px;
  left: 20px;
}
.menu-list__type__dish:hover .menu-list__type__dish-text {
  padding-right: 10px;
}
.menu-list__type__dish:hover .check-container {
  transform: translate(-60px);
  transform-origin: left;
}
.menu-list__type__dish:hover .check-container i {
  transform: rotate(360deg);
}

/* Menu page */
.menu-body main {
  margin: 0;
}

.menu-background-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  position: relative;
  z-index: -2;
  margin-bottom: -40px;
}

/* Menu list */
.menu-list {
  border-radius: 3em 3em 0 0;
  background: #f6f6f6;
}
.menu-list section {
  margin-left: 10px;
  margin-right: 10px;
}

.menu-list__type-title {
  border-bottom-width: 20px;
  font-weight: 400;
}

.title-underline {
  color: #99e2d0;
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 3px;
  text-align: left;
  margin: 10px 0;
  width: 40px;
}

.menu-list__header {
  display: flex;
  justify-content: space-around;
}
.menu-list__header .aside {
  padding-top: 23px;
}

.btn-container {
  text-align: center;
  margin: -10px 0 50px 0;
}

/* Animation scroll */
.menu-list__type {
  margin-bottom: 40px;
  animation: menu-scroll 1000ms;
  transform-origin: top;
}

/* Layout */
header {
  box-shadow: 0 4px 10px -7px gray;
  position: relative;
  z-index: auto;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.arrow {
  position: relative;
  left: -70px;
}
.arrow i {
  vertical-align: -8px;
}

footer {
  background-color: #353535;
  color: white;
}
footer .footer__container {
  padding: 20px;
}
footer .footer__container .footer__content {
  display: flex;
  margin: 0;
  padding: 0;
  height: 20px;
  margin-bottom: 10px;
}
footer .footer__container .footer__content i {
  margin-right: 10px;
}
footer .footer__container .footer__content p {
  font-weight: 500;
}
footer .footer__container .footer__logo {
  margin: 5px 0 25px 0;
  font-size: 1.1em;
}

/*# sourceMappingURL=main.css.map */
