/* Button basic + hover effect (lighten & shadow) */

.btn {
    border-radius: 1em;
    @include card-shadow(-2px);
    margin: 20px 0;
    transition: 200ms;
    
    &:hover {
        opacity: 0.9;
        @include card-shadow(2px);
        }
}

.my-btn {
    @include pink-gradient;
    padding: 15px 20px;
    color: white;
    border-radius: 2em;
    border-width: 0;
    font-weight: $medium-weight;
    box-shadow: inset 0px -5px 5px rgba(0,0,0,0.2), 0px 5px 10px -2px #9999;
    min-width: 180px;
    font-size: 1em;
}


/* Button's heading */

.heading {
    display: flex;
    padding: 5px 10px;
    justify-content: space-between;
    * { margin: 5px 0;
    } 
}
.heading .subtitle {
    font-weight: 300;
    font-size: 0.9em;
}
.heading .aside {
    padding-right: 20px;
    padding-top: 5px;
    }