/* CSS Reset */

p {
    margin: 0;
    padding: 0;
}

/* Body and general parameters */

body {
    margin: 0;
    user-select: none;
    font-family: 'Roboto';

    main {
        margin-left: $regular-spacing;
        margin-right: $regular-spacing;

        @include laptop {
            padding-left: $medium-spacing;
            padding-right: $medium-spacing;
        }

        @include desktop {

            max-width: 2800px;
            margin: auto;
            padding-left: $big-spacing;
            padding-right: $big-spacing;
        }
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* Special font */

.footer__logo, .menu-list__header-title, .loading {
    font-family: 'Shrikhand', cursive;
}