/* Fonctionnement section (title + buttons)*/

.functioning {
    margin : 50px 0;
    
    @include small-screen {
        display: grid;
        margin : 10px 0;
        grid-gap: 0.5%;
    }  

    @include laptop {
        grid-gap: 2%; 
    }
    
    @include desktop {
        grid-column-gap: 5%;
    }

    h2 {
        @include desktop {
            grid-column: 1/3;
        }
    }
    .functioning__btn {
        display: flex;
        margin-left: 5px;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-right: 10%;

        @include tablet {
            max-width: none;
            grid-row: 2;      
        }

        @include desktop {
            padding-right: 15%;   
        }
        .btn__no {
            border-radius: 50%;
            padding: 3px 7px;
            background: #fff;
            background-color: $primary;
            color: white;
            font-weight: 500;
            font-size: 0.9em;
            position: relative;
            left: -10px;
        }
        .fas {
            color : $forth;
        }
        p {
            font-weight: 500;
        }
    }
    .functioning__btn:hover {
        background-color: #f5edff;
        i {
            color: $primary;
        }
    }
}