.list {
    margin: 70px 0;
    .card-restaurant {
        &__photo {
            width: 100%;
            object-fit: cover;
            height: 150px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            margin-top: -28px;
        }   
    }
}

.card-restaurant__like-container {
    font-size: 1.5em;
}

/* Sticker nouveau */

.card-sticker {
width: 80px;
background-color: #99e2d0;
position: relative;
right: -260px;
bottom: -15px;
color: #008766;
font-weight: 600;
text-align: center;
font-size: 0.9em;
padding: 5px;
border-radius: 0.13em;
}

.disable {
    z-index: -1;
}