/* Main page */

.list {
    margin: 70px 0;
    .card-restaurant {
        &__photo {
            width: 100%;
            object-fit: cover;
            height: 150px;
            border-top-left-radius: 1em;
            border-top-right-radius: 1em;
            margin-top: -28px;
        }   
    }
}

.card-restaurant__like-container {
    font-size: 1.5em;
}

/* Sticker nouveau */

.card-sticker {
width: 25%;
background-color: #99e2d0;
position: relative;
right: -70%;
bottom: -15px;
color: #008766;
font-weight: 600;
text-align: center;
font-size: 0.9em;
padding: 5px;
border-radius: 0.13em;
}

.disable {
    z-index: -1;
}

/* Spinner animation */

.loading {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    left: 37%;
    top: 50%;
    width: 100%;
    height: 100%;
    width: 70px;
    height: 70px;
    @include pink-gradient;
    border-radius: 50%;
    opacity: 0;

    animation: spinner ease-out 2000ms;
}

.main-body header, .main-body main, .main-body footer {
    animation: spinner-layer 2000ms;
}